<h2>Bill of Materials</h2>

<div ng-controller="cartSummaryController">

    <div class="alert alert-warning" ng-show="cartData.length == 0">
        There are no components in your cart.
        <a href="#/products" class="alert-link">Click here to return to the catalogue</a>

    </div>

    <div ng-hide="cartData.length == 0">
        <table class="table">
            <thead>
            <tr>
                <th>Quantity</th>
                <th>Item</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in cartData">
                <td class="text-center">{{item.count}}</td>
                <td class="text-left">{{item.name}}</td>
                <td>
                    <button ng-click="remove(item.d)" class="btn btn-sm btn-warning">Remove</button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3"
                    class="text-right">Total :
                </td>
                <td class="text-right">{{ total()}}</td>
            </tr>
            </tfoot>
        </table>

        <div class="text-center">
            <a class="btn btn-primary" href="#/products">Continue</a>
            <a class="btn btn-primary" href="#/placeorder">Send Request</a>
        </div>
    </div>
</div>



